<div class="course_container">
  <div class="row two">
    <div class="col s6 offset-s3">
      <h3 class= "center">Welcome, <%= @user.first_name %>!</h3>
      <div class="card-panel green darken-4">
        <p class= "center">Name: <%= @user.first_name %> <%= @user.last_name %></p>
        <p class= "center">Email: <%= @user.email %></p>
        <p class= "center">Username: <%= @user.username %></p>
        <p class= "center">Favorite Courses: <%= @user.favorite_courses %></p>
      </div>
    </div>
  </div>
</div>
