<div class="parallax-container">
  <h1 class="center">Find A Course Near You</h1>
  <h2 class="center bottom">With Pin-Seeker!</h2>
  <div class="parallax">
    <%= image_tag "driver.jpg" %>
  </div>
</div>

<div class="section white">
  <div class="row container">
    <%= form_tag({controller: "courses", action: "search"}, method: "get") do %>
    <h3>Select a City:</h3>
    <div class="input-field col s12">
      <%= select_tag(:city, options_for_select(@courses.map{ |c| [c.city]}.sort)) %>
    </div>
    <h3>Select a Course Type:</h3>
    <div class="input-field col s12">
      <%= check_box_tag(:public) %>
      <%= label_tag(:public, "Public Golf Course") %>
    </br>
    <%= check_box_tag(:private) %>
    <%= label_tag(:private, "Private Golf Course") %>
  </br>
  <%= check_box_tag(:municipal) %>
  <%= label_tag(:municipal, "Municipal Golf Course") %>
</div>
<div class="input-field col s12 submit">
  <%= submit_tag("Search Courses", class: "btn green darken-4") %>
  <% end %>
</div>
</div>
</div>


<div class="parallax-container">
  <div class="parallax">
    <%= image_tag "footer.jpg" %>
  </div>
</div>
