<!DOCTYPE html>
<html>
<head>
  <title>Pin-Seeker</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="nav-wrapper green darken-4">
      <%= link_to "Pin-Seeker", root_path, class: "brand-logo left logofont" %>
      <ul id="nav-mobile" class="right">
        <% if current_user %>
        <li><%= link_to "Profile", user_path(current_user), class: "font" %></li>
        <li><%= link_to "Log Out", logout_path, class: "font" %></li>
        <% else %>
        <li><%= link_to "Create Account", new_user_path, class: "font" %></li>
        <li><%= link_to "Log In", login_path, class: "font" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <%= yield %>
</body>
</html>
